BasedOnStyle: Google

AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
#AllowShortCompoundRequirementOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BreakBeforeBraces: Attach

ColumnLimit: 0
Cpp11BracedListStyle: true

FixNamespaceComments: false
# Disallow goto usage
ForEachMacros: ["goto"]

IndentWidth: 4
IndentCaseLabels: false

KeepEmptyLinesAtTheStartOfBlocks: false

PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1

UseTab: Never